{% extends 'base.html' %}

{% block content %}
<h1>Выберите тип задачи</h1>
<form method="post" enctype="multipart/form-data">
    <label for="group">Выберите категорию</label><br>
    <select class="form-control" id="group" name="group" type="group">
        {%for item in data%}
        <option value="{{item[0]}}">{{item[1]}}</option>
        {%endfor%}
    </select>
    <br></p>
    <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="Выбрать"></p>
</form>
{% endblock %}