{% extends 'base.html' %}

{% block content %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Выберите режим</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <a href="/generator" class="btn btn-primary w-100">Генератор</a>
                    <a href="/from_gia" class="btn btn-primary w-100">ГИА</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="d-flex justify-content-center mb-2">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="header-logo" src="{{ url_for('static', filename='img/logo/g2.png') }}" height="100"
                     role="img">
            </a>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <h1>Мастерство достигается только путем тренировок.</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p class="mb-5">
                На нашем сайте вы найдете уникальные инструменты для улучшения своих математических навыков и
                подготовки к экзаменам. Мы предлагаем два мощных инструмента: Генератор уравнений и интеграцию с API
                сайта "Сдам ГИА".
            </p>
        </div>
        <div class="d-flex justify-content-center info-block mx-5">
            <img src="{{ url_for('static', filename='img/logo/function.png') }}" class="function-picture">
            <div class="col-6 my-auto p-5">
                <h3 class="text-center">Проверь свои навыки</h3>
                <ul>
                    <li>
                        Простота использования: Наши инструменты интуитивно понятны и удобны в использовании.
                    </li>
                    <li>
                        Актуальные данные: Мы используем актуальные задания и материалы для подготов
                    </li>
                    <li>
                        Поддержка пользователей: Мы всегда готовы помочь вам с любыми вопросами и предложениями.
                    </li>
                </ul>
                <p>
                    Начните уже сегодня! Воспользуйтесь нашими инструментами для улучшения своих математических навыков
                    и будьте готовы к любым вызовам, будь то учеба или экзамены.

                </p>
            </div>
            <div class="col-6 my-5">
                <img src="{{ url_for('static', filename='img/logo/math_picture.jpg') }}" class="info-block-picture">
            </div>
        </div>
        <div class="d-flex justify-content-center my-5">
            {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Начать решать
                </button>
            {% else %}
                <a class="btn btn-outline-primary" href="/login">
                    Начать решать
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}