{% extends 'base.html' %}

{% block content %}
    <button type="button" class="btn btn-primary d-none" id="ModalLaunch" data-bs-toggle="modal"
            data-bs-target="#exampleModal"></button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>

    <p class="w-25 mx-auto text-center">Ответ (для разработчиков): {{ answer }}</p>
    <div class="w-25 mx-auto">
        <div class="d-flex justify-content-center">
            <img alt="Задача" class="text" src="{{ img }}" style="vertical-align:-8.4pt">
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <input class="form-control w-50 mx-auto mt-4 mb-2" id="answer" name="answer" required type="text" value="" placeholder="Ответ">

            <div class="d-flex justify-content-center">
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Выбрать">
            </div>
        </form>
    </div>

    {% if message %}
        <script>
            var button = document.getElementById('ModalLaunch');
            button.click();
        </script>
    {% endif %}
{% endblock %}