{% extends 'base.html' %}

{% block content %}
<p>Ответ (для разработчиков): {{ answer }}</p>
<div>
    {{message}}
    <img alt="Задача" class="tex" src='{{ img }}'' style="vertical-align:-8.4pt">
    <form action="" method="post" enctype="multipart/form-data">
        <label for="answer">Имя пользователя</label><br>
        <input class="form-control" id="answer" name="answer" required type="text" value=""><br>
        
        <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="Выбрать"></p>
    </form>
</div>
{% endblock %}